*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
   background: black;
   text-align: right;
    
}

.home {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.profile-img{
    width: 40%;
    /* float: left; */
    margin-top: 50px;
}
.profile-img img{
    width: 100%;
    height: 100%;
}
.mohammed {
    ‎font-style: italic;
    color: #fff;
    padding: 10%;
    font-family: 'Jacques Francois Shadow';
    font-size: 22px;
    text-align: right;
}
.about {
    margin-left: 15%;
    padding: 1em;
}

.profile-info {
    /* width: 50%; */
    /* height: 50vh; */
    float: left;
    /* padding: 0 100px; */
}
.profile-info h1{
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-info{
    height: 30px;
margin-right: 15px; 
}
.social-media img{
height: 30px;
margin-right: 15px; 
}
.social-media{
    margin-top: 20px;
    margin-left: 15px;
}
.profile-info h2{
    margin-top: 50px;
    margin-bottom: 15px;
}
.education {
    widows: 50%;
    background: #808080;
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
}

.all-experiance {
    background: #808080;
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
}
    .all-experiance .card {
        width: 50%;
        border-radius: 20px;
    }
        .all-experiance .card .card-img-top {
            border-radius: 20px;
        }

.courses {
    background: #808080;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
    .courses img {
        border-radius: 160px;
    }
.contact-info {
    display: inline-block;
    width: 100%;
    height: 50%;
    padding: 10px 5px;
    margin: 2%;
    background: #FFF;
    widows: 50%;
    background: #808080;
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
}
.contact-1 {

    padding: 2em;
    height: 100px;
}
.contact-2 {
    /* float: right; */
    padding: 1em;
    width: 100%;
    widows: 50%;
    background: #808080;
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
}

    .header-fixed {
        background-color: #292c2f;
        box-shadow: 0 1px 1px #ccc;
        padding: 20px 40px;
        height: 80px;
        color: #ffffff;
        box-sizing: border-box;
        top: -100px;
        -webkit-transition: top 0.3s;
        transition: top 0.3s;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .header-fixed .header-limiter {
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
    }


.header-fixed-placeholder {
    height: 80px;
    display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    float: right;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

    .header-fixed .header-limiter h1 span {
        color: #5383d3;
    }


.header-fixed .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: left;
}

    .header-fixed .header-limiter nav a {
        display: inline-block;
        padding: 0 5px;
        text-decoration: none;
        color: #ffffff;
        opacity: 0.9;
    }

    .header-fixed .header-limiter nav english-lang{
        float:right;
    } 






