*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
   background: black;
    
}

.profile-img{
    width: 40%;
    float: right;

}
.profile-img img{
    width: 100%;
    height: 100%;
}
.mohammed {
    ‎font-style: italic;
    color: #fff;
    padding: 10%;
    font-family: 'Jacques Francois Shadow';
    font-size: 22px;
    text-align: left;
}
.about {
    margin-left: 15%;
    padding: 1em;
}

.profile-info {
    width: 50%;
    height: 50vh;
    float: left;
    padding: 0 100px
}
.profile-info h1{
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-info{
    height: 30px;
margin-right: 15px; 
}
.social-media img{
height: 30px;
margin-right: 15px; 
}
.social-media{
    margin-top: 20px;
    margin-left: 15px;
}
.profile-info h2{
    margin-top: 50px;
    margin-bottom: 15px;
}
.experiance{
    display: inline-block;
    width: 50%;
    height:50%;
    padding: 30px 10px;
    margin: 2%;
    text-align: left;
    box-shadow: 0 0 15px 1px rgba(0, 1, 7, 0.18);
    background:black;
    color: azure;
}
.experiance small{
        padding-top: 10px;
        display: block;
}
.experiance img{
    width: 150px;
    height: 69px;
}
.courses img{
        width: 9%;
        border-radius:initial;
        margin-right:auto;
        margin-left: 5px;

}
.contact-info {
    display: inline-block;
    width: 50%;
    height: 50%;
    padding: 10px 5px;
    margin: 2%;
    background: #FFF;
    color:#fff;
}

.contact-1 {
    color: #fff;
    float: right;
    padding: 2em;
}

.contact-2 {
    float: right;
    padding: 1em;
    width: 100%;
}

.header-fixed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

    .header-fixed .header-limiter {
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
    }


.header-fixed-placeholder {
    height: 80px;
    display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

    .header-fixed .header-limiter h1 span {
        color: #5383d3;
    }


.header-fixed .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
}

    .header-fixed .header-limiter nav a {
        display: inline-block;
        padding: 0 5px;
        text-decoration: none;
        color: #ffffff;
        opacity: 0.9;
    }










